* body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: grey;
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  background-color: gray;
  height: 100px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
}

.home_icon {
  height: 30px;
  width: 30px;
}

.bookmark_icon {
  height: 30px;
  width: 30px;
}

.info_icon {
  height: 30px;
  width: 30px;
}

.bookmark_icon_card {
  height: 30px;
  width: 30px;
  position: relative;
  left: 360px;
  top: -30px;
}

.question_card {
  height: 200px;
  width: 400px;
  background-color: rgb(225, 235, 242);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.show_answer_button {
  border: none;
  background-color: rgb(85, 162, 244);
  border-radius: 8px;
  width: 100px;
  align-self: center;
  color: aliceblue;
}

.answer_button {
  border: none;
  background-color: rgb(221, 149, 210);
  border-radius: 8px;
  min-width: 80px;
  margin-top: 50px;
  color: aliceblue;
}

.question {
  font-size: 20px;
  padding-left: 25px;
}

.choice {
  display: flex;
  justify-content: space-around;
}

.content {
  background-color: rgb(244, 240, 233);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.btn_footer_icon {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: gray;
  padding: 10px 30px;
  border: solid rgb(136, 133, 133) 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 13px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btn_footer_icon:hover {
  transition: 300ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: rgb(254, 74, 17);
  border: solid 2px #fe4a11;
}
