* body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 20px;
  background-color: gray;
  height: 100px;
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  background-color: gray;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
}

.footer_icon {
  height: 30px;
  width: 30px;
}

.pic {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.question_card {
  height: 200px;
  width: 400px;
  background-color: burlywood;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.show_answer_button {
  border: none;
  background-color: aquamarine;
  border-radius: 8px;
}

.answer_button {
  border: none;
  background-color: blueviolet;
  border-radius: 8px;
  min-width: 80px;
}
